*{
    margin: 0;
    padding: 0;
}

:root{
    --red: red;
    --blue: blue;
    --green: green;
    --yellow: yellow;
    --black: black;
    --white: white;
    --pink: pink;
    --purple: purple;
    --brown: brown;
}

.und{
    text-decoration: underline;
}

.strike{
    text-decoration: line-through;
}

.upper{
    text-transform: capitalize;
}

ul.icon-circle{
    list-style-type: circle;
}

ul.icon-square{
    list-style-type: square;
}

button.blue{
    padding: 2px;
    background-color: var(--blue);
    color: var(--white);
}

button.red{
    padding: 2px;
    background-color: var(--red);
    color: var(--white);
}

button.black{
    padding: 2px;
    background-color: var(--black);
    color: var(--white);
}

