<div class="container mt-4">
    <h2>Currency Converter</h2>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" [(ngModel)]="amount" class="form-control" id="amount">
    </div>
    <div *ngIf="exchangeRates" class="form-group">
        <label for="fromCurrency">From Currency:</label>
        <select [(ngModel)]="fromCurrency" class="form-control" id="fromCurrency">
          <option *ngFor="let currency of exchangeRates | keyvalue">{{ currency.key }}</option>
        </select>
      </div>
      <div *ngIf="exchangeRates" class="form-group">
        <label for="toCurrency">To Currency:</label>
        <select [(ngModel)]="toCurrency" class="form-control" id="toCurrency">
          <option *ngFor="let currency of exchangeRates | keyvalue">{{ currency.key }}</option>
        </select>
      </div>
      
    <div class="form-group">
      <label for="result">Result:</label>
      <p id="result">{{ convertCurrency() | number:'1.2-2' }}</p>
    </div>
  </div>
  