.Agent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #996c6c;
  }
  
  .Agent span {
    flex: 1;
  }
  
  .timer{
    font-style: italic;
  }