/* CallCenter. css */
.CallCenter {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  
  .Ready {
    background-color: #7eff7e; /* Light green for Ready state */
  }
  
  .Talking {
    background-color: orange; /* Light blue for Talking state */
  }
  
  .WrapUp {
    background-color: #ffcc80; /* Light orange for Wrap up state */
  }
  
  .Lunch {
    background-color: #ffb3b3; /* Light red for Lunch state */
  }
  
  .Break {
    background-color: #ffb3b3; /* Light purple for Break state */
  }
  
  .Timer {
    display: none; /* Hide the Timer component for styling purposes */
  }

  p{
    padding: 0;
    margin: 0;
  }

  .CallCenterGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .AgentsGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
    width: 100%;
  }
  
  .Agent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  .Agent span {
    width: 100%;
  }
  
  .Agent p {
    margin: 0;
    padding: 5px;
  }
  
  .Agent p:first-child {
    font-weight: bold;
  }

  .QueueCounts,
  .StateCounts,
  .LocationCounts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .QueueCounts p,
  .StateCounts p,
  .LocationCounts p {
    margin: 5px;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .QueueCounts p {
    background-color: #3498db; /* Blue color for call counts */
    color: black;
    font-size: 16px;
  }
  
  .StateCounts p {
    background-color: #27ae60; /* Green color for agent counts */
    color: black;
    font-size: 16px;
  }

  .LocationCounts p{
    background-color: grey;
    color: black;
    font-size: 16px;
  }
  
  /* Add this to your CSS file or style section */

/* Add this to your CSS file or style section */

#time {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#time-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#clock {
  font-size: 16px;
  margin: 20px;
  text-align: center;
}

#clock p {
  margin: 5px 0;
  font-size: 22px;
}

/* Header.css */
.Header {
  background-color: #3498db; /* Header background color */
  color: #ffffff; /* Header text color */
  padding: 1rem; /* Header padding */
  text-align: center; /* Center-align text */
}

.Header h1 {
  margin: 0; /* Remove default margin for h1 */
}

/* Add these styles to your CSS file */

.QueueCounts,
.StateCounts,
.LocationCounts {
  margin-top: 20px;
}

/* Container for the tables */
.TableContainer {
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-right: 20px; /* Adjust the margin as needed */
}

thead {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}
